/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 26px;
$mainFont: 'Calibri', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Calibri', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: inherit;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.8em;
$heading2Size: 1.3em;
$heading3Size: 1.0em;
$heading4Size: 1.0em;
$heading5Size: 1.0em;
$heading6Size: 1.0em;

$indent: 60px;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    .slides {
        section, section > section {
            text-align: left;
            padding: 0em;
        }

        section.title {
            h1 {
                font-size: $heading1Size;
                margin: 100px 0px 140px 0px;
                line-height: 100%;
            }

            .author {
                font-size: 1.3em;
                margin: 140px 0;
            }

            .acknowledgements {
                display: block;
                font-style: italic;
                font-size: 1.0em;
                text-align: center;
                margin: 140px $indent 0px $indent;
            }

            ul.icons{
                position: absolute;
                margin-top: -120px;
            }

        }
    }

    // h1 {
    //     margin: 1.2em 0;
    //     line-height: 200%;
    // }

    h2:first-child {
        margin: 0 0 $blockMargin+10px 0;
    }

    h2 {
        margin: $blockMargin+10px 0 $blockMargin+10px 0;
    }

    h3, h4, h5, h6 {
        &:first-child {
            margin: 0 0 $blockMargin 0;
        }
    }

    h3, h4, h5, h6 {
        margin: $blockMargin 0 $blockMargin 0;
    }

    ol, dl, ul {
        line-height: 2.2;
        margin: 0 0 0 1.5em;

        li:first-child p {
            margin-top: 0;
        }
    }

    ul {
        list-style-type: none;

        ul {
            list-style-type: disc;

            ul {
                list-style-type: square;
            }

            & > li:before {
                content: none;
            }
        }

        & > li:before {
            content: "\2013";
            position: absolute;
            margin-left: -0.8em;
        }
    }

    blockquote {
        width: 90%;
        background: unset;
        box-shadow: unset;

        > p {
            margin: 0px;

            &:first-child,
            &:last-child {
                display: block;
            }
        }
    }

    code {
        margin: 0px;
    }

    div.MathJax_Display {
        margin: 20px auto 20px $indent;
        text-align: left;
        width: min-content;
    }

    em > div.MathJax_Display,
    em > code > div.MathJax_Display,
    em > span.MathJax,
    em > code > span.MathJax {
        border: 2px solid black;
        box-shadow: 4px 7px 8px 0px #757575;
        padding: 8px;
    }

    code > span.MathJax {
        margin-left: 7px;
        margin-right: 7px;
    }

    blockquote > p div.MathJax_Display {
        margin: auto;
        text-align: center;
    }

    pre {
        code {
            max-height: 600px;
        }
    }

    table {
        width: 100%;
        border: 0;

        td {
            border-bottom: 2px solid black;
        }

        tr {
            th:empty {
                border: 0px solid black;
            }

            th, td {
                border-right: 2px solid black;
                vertical-align: middle;
            }

            th:last-child, td:last-child {
                border-right: none;
            }
        }
    }

    img.align-left {
        margin-left: $indent;
    }

    img.align-right {
        margin-right: 0;
        position: absolute;
        right: 0;
    }

    img {
        margin: auto;
        display: block;
    }

    ul.icons {
        margin: 0px;
        display: flex;
        align-items: center;

        li {
            display: inline;
            margin-right: 1.3em;
            width: 1.3em;
            img {
                margin: 0px;
                display: block;
                max-width: 100%;
                max-height: 100%;
                background-color: black;
                border-radius: 50%;
            }
        }

        & > li:before {
            content: unset;
        }
    }

    ol.references {

        counter-reset: refs;


        li {
            counter-increment: refs;
            list-style-type: none;
            margin: 0px;

            ul {
                margin: 0px;
                display: inline;

                li {
                    display: inline;
                    counter-increment: unset;
                }

                li.title {
                    font-style: italic;
                }

                & > li:before {
                    content: unset;
                }

                & > li:after {
                    content: ",";
                }

                & > li:last-child:after {
                    content: ".";
                }
            }
        }

        & > li:before {
            content: "["counter(refs)"]";
        }
    }

    .hljs {
        background: white;
        color: black;
    }

    .Matlab {
        .hljs-comment {
            color: #449949;
        }

        .hljs-string {
            color: #B452F3;
        }

        .hljs-built_in {
            color: unset
        }
    }

}